html, body {
	margin: 0px auto;
	max-width:1000px;
}

nav {
	position: relative;
	top: 0;
	height: 60px;
	width: 100%;
	background-color: #424952;
	color: white;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	text-align: center;
	display: inline-block;
}

.navbar-title {
	position: absolute;
	top: 15px;
	left: 10px;
	font-size: 30px;
}

.button-container {
	margin-top: -8px;
	margin-right: 15px;
	float:right;
}

button {
	height: 40px;
	border: 1px solid white;
	border-radius: 5px;
	width: 100px;
	font-family: 'Calibri';
	font-size: 20px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button:hover {
	cursor: pointer;
}

.button-top {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.button-top:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

main {
	margin: 40px;
}

h1 {
	font-family: 'Calibri';
	font-size: 60px;
}

hr {
	margin-top: -30px;
	color: grey;
	opacity: .1;
	margin-bottom: 40px;
}

table {
	font-family: 'Calibri';
	font-size: 20px;
}

.new-contact-container {
	border: 1px solid rgb(180, 180, 180);
	margin-top: 10px;
	margin-left: 60px;
	margin-right: 60px;
	font-family: 'Calibri';
	overflow: hidden;
	border-radius: 5px;
}

.new-contact-container-body {
	padding-top: 20px;
	clear: both;
	padding: 20px;
}

.new-contact-container-header {
	background-color: rgb(230, 230, 230);
	font-size: 17px;
	padding: 20px;
}

.new-contact-container-footer {
	background-color: rgb(230, 230, 230);
	font-size: 17px;
	text-align: right;
	padding-right: 10px;
}

input {
	margin-bottom: 10px;
	border: 1px solid rgb(211, 211, 211);
	height: 30px;
	width: 100%;
}

input, label {
	display:block;
	margin-bottom: 10px;
}

.createContactButton {
	position: relative;
	border: 1px solid green;
	background-color: green;
	color: white;
	float: right;
	margin-bottom: 20px;
	opacity: 1;
}

tr:hover {
	background-color: rgb(243, 243, 243);
}

table {
	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid rgb(224, 224, 224);
}

.header-table {
	border-bottom: 1px solid rgb(180, 180, 180);
}

td button, div button {
	height: 35px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-width: 1px;
	margin-left: 5px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.details-button {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.details-button:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.edit-button {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.edit-button:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.delete-button {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.delete-button:hover {
	color: #fff;
	background-color: #c82333;
	border-color: #bd2130;
}

.details-labels {
	display: inline;
}

p {
	color: white;
	background-color: #424952;
	display: inline;
	padding: 4px;
	border-radius: 4px;
}